@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	font-family: "Poppins", sans-serif;
}
:root {
	--primary-Color: #463266;
	--secondary-Color: #FF7350;
	--text-Color: #101828;
	--alert-Color: #0099FF;
	--success-Color: #E6FFF5;
	--warning-Color: #EE8800;
	--error-Color: #F3D7FB;
	--grey-Color: #6b7385;
	--black-Color: #101828;
	--main-Background-Color: #ffffff;
    --secondary-Background-Color: #D6F2FE;
	--secondary-Font: "Montserrat", sans-serif;
	--button-padding: 5px 25px;
	--button-border-radius: 0px;
	--button-font-weight: 500;
    --heading:60px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 6px;
    --section-padding:30px 0px;

}
.fdb-block {
    padding: 0rem 0;
}
/*headere2d79a3ca0c8814a*/
.headere2d79a3ca0c8814a .head {
    color: var(--secondary-Color);
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link,
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link{
    color: var(--black-Color);
}
.headere2d79a3ca0c8814a .button {
    background-color: var(--primary-Color);
    color: var(--main-Background-Color);
    box-shadow: none;
    font-weight: bold;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
}
/*aboutp3dce575962b3c369*/
.aboutp3dce575962b3c369 .jumbotron{
    background-color: var(--main-Background-Color);
    padding: var(--jumbotron-padding);
}
.aboutp3dce575962b3c369 .badge {
    color:  var(--warning-Color);
    background-color:  var(--main-Background-Color);
    margin-left: -8px;
    font-size: var(--heading-medium);
}
.aboutp3dce575962b3c369 .DescriptionHeading {
    color: var(--black-Color);
    font-size: var(--heading);
}
.aboutp3dce575962b3c369 .DescriptionPara {
    color: var(--black-Color);
}
.aboutp3dce575962b3c369 .searchBtn {
    background-color: var(--primary-Color);
    color: var(--main-Background-Color);
    box-shadow: none;
    font-weight: bold;
    padding: 5px 25px 5px 25px;
    border-radius: var(--button-border-radius);
}
/* clientsc724c807cc8b8e9ab */
.clientsc724c807cc8b8e9ab h2{
    font-size: var(--heading-medium);
}
.clientsc724c807cc8b8e9ab span{
    font-size: var(--paragraph);
}
/*fuspaftf6hutoj7e*/
.fuspaftf6hutoj7e h1{
    font-size: var(--heading-large);
    font-weight: 400;
}
.fuspaftf6hutoj7e .lead{
    font-size: var(--paragraph);
}
.fuspaftf6hutoj7e strong {
    font-weight:var(--button-font-weight);
}
.fuspaftf6hutoj7e h3{
    font-size: var(--heading-two);
    font-weight: var(--button-font-weight);
}
/*abouteb092de7c8df0610*/
.abouteb092de7c8df0610 h2{
    font-size: var(--heading-large);
}
.abouteb092de7c8df0610 p{
    font-weight: 400;
    font-size: var(--paragraph);
}
/*productsfd232222df02a491*/
.productsfd232222df02a491 .title {
    color: var(--black-Color);
    font-size: var(--heading-medium);
}
.productsfd232222df02a491 .blob-btn:before{
    border: 0px;
}
/*counteraf598102c9dad94e */
.counteraf598102c9dad94e h2{
    font-size: var(--heading-large);
}
.counteraf598102c9dad94e h4{
    font-size: var(--heading-medium);
}


/*teamtmpxpt1wbh8*/
.teamtmpxpt1wbh8 h1{
font-size: var(--heading-two);
}
.teamtmpxpt1wbh8 strong{
    font-weight: var(--button-font-weight);
    }
/*testimonialtmrwms6esfu*/
.testimonialtmrwms6esfu .fdb-block{
    padding: 0px; 
}
.testimonialtmrwms6esfu .fdb-block .fdb-touch {
    border-top: none;
}
/*quoteb1b4a5dbe8b0424f*/
.quoteb1b4a5dbe8b0424f .subscribe-area {
    background-image: linear-gradient(to right, #00c6fb 0%, #D6F2FE 100%);
}
.quoteb1b4a5dbe8b0424f .subscribe-text span,
.quoteb1b4a5dbe8b0424f .subscribe-text h2,
.quoteb1b4a5dbe8b0424f .subscribe2-wrapper .subscribe-form input{
    color: var(--black-Color);
}
.quoteb1b4a5dbe8b0424f .subscribe2-wrapper .subscribe-form input{
    color: var(--black-Color);
    border: 1px solid var(--black-Color);
}
.quoteb1b4a5dbe8b0424f .subscribe2-wrapper .subscribe-form input:focus-visible{
outline: none;
}
.quoteb1b4a5dbe8b0424f  ::placeholder {
    color: var(--text-Color);
  }
.quoteb1b4a5dbe8b0424f .subscribe2-wrapper .subscribe-form button:hover{
    background-color: var(--secondary-Color);
    color: var(--main-Background-Color);
}
/*flaneft7gnhn3qye*/
.flaneft7gnhn3qye .nav-link{
color: var(--black-Color);
font-weight: var(--button-font-weight);
}
.flaneft7gnhn3qye a,
.flaneft7gnhn3qye a:hover{
    color: var(--grey-Color)
    }